<div class="row">
    <div class="col-4"></div>
    <div class="col-4 mt-5 border  bg-light " style="width: 419px;height: 500px;">
        <div style="
        background-color: rgb(202, 16, 16);height: 200px;margin-top: -48px;width: 418px; margin-left: -13px;color: white;">


        <h1 class="mt-5 mb-4 text-center">
            E Finance Bank</h1>
            <h6> {{ aim }}</h6>

        <img id="logo" src="../../assets/images/preview.jpg" alt="">

        </div>
       
        <form action="" class="p-5" style="margin-left: -49px;">
            <input (change)="acnoChange($event)" type="text" id="login_accno" class="form-control " placeholder="Account Number">
            <input (change)="pswdChange($event)"  type="password" id="login_pass" class="form-control mt-2" placeholder="Password">
            <div class="d-grid gap-2">
                <input type="button" value="Sign in"  class="btn btn-primary mt-3" (click)="login()" style="margin-left: 131px;width: 138px;">
            </div>
            <div class="mt-4 " style="margin-left: 67px;">
                <a href="" id="links">Forget Password</a>
            or
            <a href="signup.html" id="links">sign up</a>

            </div>
            
        </form>    
    </div>
    <div class="col-4"></div>
</div>
